@charset "utf-8";
.r-content .pagination {
	display: none;
	text-align: right;
	padding: 20px 0 10px 0;
}

.r-content .pagination a, .r-content .pagination span {
    display: inline-block;
    line-height: 30px;
	padding: 0 10px;
	height: 30px;
	text-align: center;
	margin-left: 4px;
}

.r-content .pagination a {
	border: 1px solid #ccc;
	color: #f67d00;
	text-decoration: none;
	/*cursor: pointer;*/
}

.r-content .pagination a:hover {
	text-decoration: underline;
}

.r-content .pagination .current {
	color: #5A5757;
	border: none;
	cursor: default;
}

.r-content .pagination .current.prev, .pagination .current.next{
	color: #999;
	border-color:#999;
	background:#fff;
}
