.search {
	float: left;
	width: 300px;
	padding-top: 60px;
}

.search .title {
	line-height: 40px;
	text-align: center;
	background-color: #FD7940;
	color: #fff;
}

.search .condition {
	background-color: #eee;
	padding: 0 10px 0 10px;
}

.search .condition .item {
	line-height: 40px;
}

.search .condition .item > span {
	width: 64px;
	display: inline-block;
	margin-left: 5px;
}

.search .condition .item > span.medium {
	width: 115px;
}

.search .condition .item input, .search .condition .item select {
	width: 205px;
	height: 22px;
}

.search .condition .item select.medium {
	width: 154px;
}

.search .condition .item select.short {
	width: 75px;
}

.search .condition .item input[data-type="date"] {
	height: 22px;
	cursor: pointer;
	padding-left: 6px;
}

.search .condition .item input.medium {
	width: 120px;
}

.search .condition .item input.short {
	width: 90px;
}

.search .condition .item input.min-short {
	width: 67px;
    margin-right: 2px;
}

.search .condition .item input.disabled {
	background: #F5F4F4;
	border: 1px solid #ccc;
}

.search .operator {
	line-height: 40px;
	background-color: #eee;
	text-align: center;
}

.search .operator input {
	color: #FD7940;
	border: 0;
	background: transparent;
	font-size: 18px;
	outline: 0;
	margin-right: 50px;
}

.search .operator input:last-child {
	margin-right: 0;
}

.r-content {
	padding-left: 10px;
}

.r-content .list p {
	margin-right: 0;
}

.r-content .list .c0 {
	width: 24%;
}

.r-content .list .c1 {
	width: 13%;
}

.r-content .list .c4 {
	width: 13%;
}

.r-content .list .c5 {
	width: 13%;
}

.r-content .list .c5 button {
	background-color: #FD7940;
	color: #fff;
	border-radius: 4px;
	padding: 5px 6px;
}

.r-content .list .c5 button:hover {
	background: #F1920C;
}

.status-list input[type="radio"] {
	cursor: pointer;
	vertical-align: middle;
	margin-right: 4px;
}

.status-list label {
	cursor: pointer;
}

.layer .status-list {
	margin-left: 40px;
}

.ui-datepicker-current {
	display: none;
}

